{% set pageClass = "about" %}
{% set title = title.about %}
{% extends "layouts/base.njk" %}
{% import "macros/header.njk" as header %}

{% block header %}
	{{ header.renderHeader('about') }}
{% endblock %}

{% block main %}
	<h1>{{ title }}</h1>
{% endblock %}
