{{#> layouts/base
	country="uk"
	pageClass="home"
	pageNav="home-nav"
	title="Welcome"
	description="Description."
}}

		{{#*inline "hero-block"}}
			{{> includes/hero
				hero-src="assets/images/hero.png"
				hero-alt="Hero 1 alt title"
			}}
		{{/inline}}

		{{#*inline "main-block"}}

			<h1>{{title}}</h1>

		{{/inline}}

{{/layouts/base}}
