{% set pageClass = "home" %}
{% set title = title.home %}
{% extends "layouts/base.njk" %}
{% import "macros/header.njk" as header %}

{% block header %}
	{{ header.renderHeader('index') }}
{% endblock %}

{% block main %}
	<h1>{{ title }}</h1>
{% endblock %}
