{{#> layouts/base
	country="uk"
	pageClass="news"
	pageNav="news-nav"
	title="News page"
	description="Description."
}}

	{{#*inline "main-block"}}

			<h1>{{title}}</h1>

	{{/inline}}

{{/layouts/base}}
