{{#> layouts/base
	country="uk"
	pageClass="four-oh-four"
	title="You're offline"
}}

	{{#*inline "main-block"}}
			<div class="four0four">
				<h2>Looks like you're offline.</h2>
				<p>Something seems to be up with your internet connection, and the page you're looking for isn't available offline. Sorry about that.</p>
				<p>Hopefully the connection will sort itself out soon and you can carry on browsing our website.</p>
			</div>
	{{/inline}}

{{/layouts/base}}
