<div class="nav-holder">
	<nav class="menu">
		<ul class="menu__list">
			<li class="menu__item{{#ifEquals pageNav "who-active"}} menu__item--current{{/ifEquals}}"><a href="/" class="menu__link">Link 1</a></li>
			<li class="menu__item{{#ifEquals pageNav "what-active"}} menu__item--current{{/ifEquals}}"><a href="/" class="menu__link">Link 2</a></li>
			<li class="menu__item logo"><a href="/"><img class="logo" src="/assets/images/logo.png" alt=""></a></li>
			<li class="menu__item{{#ifEquals pageNav "who-with-active"}} menu__item--current{{/ifEquals}}"><a href="/" class="menu__link">Link 3</a></li>
			<li class="menu__item{{#ifEquals pageNav "contact-active"}} menu__item--current{{/ifEquals}}"><a href="/" class="menu__link">Link 4</a></li>
		</ul>
	</nav>
</div>
